<mat-card>
    <mat-card-title>Nova Loja</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome">
            <!-- <input matInput placeholder="Nome"
                [(ngModel)]="product.name" name="name"> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary">
        Salvar
    </button>
    
    <button mat-raised-button>
        Cancelar
    </button>
</mat-card>