<mat-card>
    <mat-card-title>Nova Locatario</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome">
            <!-- <input matInput placeholder="Nome"
                [(ngModel)]="locatario.name" name="name"> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Documento">
                <!-- <input matInput placeholder="Documento"
                [(ngModel)]="locatario.documento" documento="documento"> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contato">
                <!-- <input matInput placeholder="Contato"
                [(ngModel)]="locatario.contato" contato="contato"> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereco">
                <!-- <input matInput placeholder="Endereco"
                [(ngModel)]="locatario.endereco" endereco="endereco"> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contrato ">
                <!-- <input matInput placeholder="Nome"
                [(ngModel)]="locatario.contrato" contrato="contrato"> -->
        </mat-form-field>
      
        
    </form>
    <button mat-raised-button color="primary">
        Salvar
    </button>
    
    <button mat-raised-button>
        Cancelar
    </button>
</mat-card>
