<mat-toolbar color="primary">
    <mat-toolbar-row>
            <div style="width: 75px;">
                <span>
                    <button mat-icon-button [matMenuTriggerFor]="menuCadastrar" aria-label="Example icon-button with a menu">
                        Cadastrar
                    </button>
                    <mat-menu #menuCadastrar="matMenu">
                        <button mat-menu-item routerLink="/cadastrarLoja">
                            <mat-icon>people</mat-icon>
                            <span>Loja</span>
                        </button>
                        <button mat-menu-item routerLink="/cadastrarLocatario">
                            <mat-icon>people</mat-icon>
                            <span>Locatário</span>
                        </button>
                    </mat-menu>
                </span>
            </div>
            <div style="width: 75px;">
                <span>
                    <button mat-icon-button [matMenuTriggerFor]="menuListar" aria-label="Example icon-button with a menu">
                        Listar
                    </button>
                    <mat-menu #menuListar="matMenu">
                        <button mat-menu-item routerLink="/listarLoja">
                            <mat-icon>people</mat-icon>
                            <span>Loja</span>
                        </button>
                        <button mat-menu-item routerLink="/listarLocatario">
                            <mat-icon>people</mat-icon>
                            <span>Locatário</span>
                        </button>
                    </mat-menu>
                </span>
            </div>
    </mat-toolbar-row>
</mat-toolbar>